*{
    font: 13px/18px Verdana, Arial, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
a {
    color: #085394;
}
input {
    border: 2px solid black;
    padding-left: 2%;
}
button {
    background: white;
    box-shadow: 2px 2px 2px 0 black;
    font-weight: 600;
    border: 2px solid black;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
}

header {
    width: 100%;
    background: #007DC5 url("../images/logo.jpg") no-repeat 5%;
    background-size: contain;
    border: 2px solid black;
    text-align: right;
    margin-bottom: 0.5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
header .login, header .logout {
    display: inline-block;
    margin: 1.2% 3% 1.1% 0;
}

nav a{
    font-weight: bold;
}
nav a:last-child {
    text-decoration: none;
    color: black;
}

.page-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5% 0 1.35%;
    font-size: 1.8em;
    line-height: 1.1em;
}
.search-title, table {
    margin-left: 20%;
}
input[type="search"] {
    display: inline-block;
    width: 30%;
    border: 2px solid black;
    padding: 0.5% 1%;
    margin: 0.5% 3% 3% 20%;
}
.to-search {
    vertical-align: middle;
    margin-left: 2%;
}
table {
    width: 60%;
    border: 2px solid black;
    border-collapse: collapse;
}
table th, table td {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
}
table th {
    background-color: #cccccc;
    text-align: left;
    padding-left: 1%;
}
table th:first-child {
    width: 30%;
}
table td{
    padding: 1%;
}
table tr:nth-child(2n) {
    background-color: #eeeeee;
}
table .user-name {
    color: #6782ab;
    text-decoration: underline;
}